.plan {
  color: hsl(228, 99%, 26%);
}

.title {
  font-family: Ubuntu-Bold;
  font-size: 32px;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  color: hsl(231, 11%, 63%);
  margin-top: 0;
  margin-bottom: 22px;
}

.levels {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.level {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 8px;
  width: 30%;
  cursor: pointer;
  padding: 15px 10px;
}

.level:hover {
  border: 1px solid hsl(228, 99%, 26%);
  background-color: hsl(217, 100%, 97%);
}

.selected {
  border: 1px solid hsl(228, 99%, 26%);
  background-color: hsl(217, 100%, 97%);
}

.level-icon {
  margin-bottom: 30px;
}

.level-description {
  display: flex;
  flex-direction: column;
}

.level-name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 0px;
}

.level-price {
  font-size: 12px;
  color: hsl(231, 11%, 63%);
  margin-bottom: 3px;
}

.level-bonus {
  font-size: 12px;
}

.term-choose {
  display: flex;
  justify-content: space-around;
  width: max-content;
  gap: 10px;
  margin: 0 auto;
  padding: 15px;
}

.toggle-active {
  color: hsl(228, 99%, 26%);
}

.toggle-non-active {
  color: hsl(231, 11%, 63%);
}

.toggle-switch {
  width: 50px;
  height: 26px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1a2b4c;
  border-radius: 26px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-switch input:checked + label:before {
  transform: translateX(24px);
}

@media screen and (max-width: 768px) {
  .plan {
    padding: 30px 20px;
    background-color: white;
    margin: -90px auto 0 auto;
    border-radius: 10px;
    color: hsl(228, 99%, 26%);
    width: 80%;
    box-shadow: 1px 3px 5px hsl(0, 0%, 24%);
  }

  .title {
    font-size: 24px;
  }

  .description {
    line-height: 25px;
    margin-bottom: 16px;
    font-size: 12px;
  }

  .levels {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0;
  }

  .level {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .level-icon {
    margin-bottom: 0;
  }
}
