.summary {
    color: hsl(228, 99%, 26%);
}

.title {
    font-family: Ubuntu-Bold;
    font-size: 32px;
    margin-bottom: 4px;
}

.description {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
    margin-top: 0;
    margin-bottom: 22px;
}

.summary-elections {
    padding: 20px 15px;
    background-color: hsl(217, 100%, 97%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary-elections-plan { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(229, 24%, 87%);
}

.summary-elections-plan-name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.currentPlan {
    font-family: Ubuntu-bold;
    font-size: 14px;
}

.changePlan {
    cursor: pointer;
    font-size: 12px;
    color: hsl(243, 100%, 62%)
}

.changePlan:hover {
    text-decoration: underline;
}

.summary-elections-plan-price {
    font-size: 14px;
    font-family: Ubuntu-bold;
}

.summary-elections-addons {
    display: flex;
    justify-content: space-between;
}

.summary-elections-addons-name {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
}

.summary-elections-addons-price {
    font-size: 14px;
}

.summary-total {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.summary-total-text {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
}

.summary-total-price {
    font-family: Ubuntu-bold;
}


@media screen and (max-width: 768px) {
    .summary {
        padding: 30px 20px;
        background-color: white;
        margin: -90px auto 0 auto;
        border-radius: 10px;
        
        width: 80%;
        box-shadow: 1px 3px 5px hsl(0, 0%, 24%);
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 16px;
    }
}