.addOns {
    color: hsl(228, 99%, 26%);
}

.title {
    font-family: Ubuntu-Bold;
    font-size: 32px;
    margin-bottom: 4px;
}

.description {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
    margin-top: 0;
    margin-bottom: 22px;
}

.extencion {
    display: flex;
    padding: 20px;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    margin-bottom: 15px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.extencion:hover {
    border: 1px solid hsl(228, 99%, 26%);
}

.added {
    border: 1px solid hsl(228, 99%, 26%);
}

.extencion-checkbox {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.extencion-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.extencion-description {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.extencion-description-name {
    font-family: Ubuntu-bold;
    font-size: 14px;
}

.extencion-description-text {
    font-size: 12px;
    color: hsl(231, 11%, 63%);
}

.extencion-price {
    color: hsl(228, 99%, 26%);
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .addOns {
        padding: 30px 20px;
        background-color: white;
        margin: -90px auto 0 auto;
        border-radius: 10px;
        width: 80%;
        box-shadow: 1px 3px 5px hsl(0, 0%, 24%);
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 16px;
    }

    .extencion {
        padding: 10px;
    }
}