body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Ubuntu;
  background-color: hsl(217, 100%, 97%);
  padding: 10px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.app {
  box-shadow: 1px 3px 5px hsl(0, 0%, 24%);
  background-color: white;
  width: 70%;
  margin: 30px auto;
  height: 100vh;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  height: 80vh;
  border-radius: 8px;
}

.navigation {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  padding: 30px 30px 30px 30px;
  border-radius: 8px;
  width: 40%;
}

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page-item {
  display: flex;
  gap: 15px;
}

.page-link {
  padding: 8px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.page-text {
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

.page-step {
  font-size: 14px;
  color: hsl(228, 100%, 84%);
}

.page-name {
  font-family: Ubuntu-bold;
  color: white;
}

.page-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.active {
  background-color: hsl(228, 100%, 84%);
  color: hsl(228, 99%, 26%);
  border: none;
}

.pagination-buttons {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
  height: 40px;
}

.start {
  justify-content: end;
}

.prev-page {
  background-color: white;
  border: none;
  color: hsl(231, 11%, 63%);
  font-family: Ubuntu;
}

.next-page {
  padding: 10px 20px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  border-radius: 8px;
  font-family: Ubuntu;
  cursor: pointer;
}

.next-page:hover {
  background-color: hsl(243, 100%, 62%)
}

.next-page:disabled{
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed; 
  opacity: 0.6; 
  border: 1px solid #999999; 
}

.confirm {
  border-radius: 8px;
  padding: 10px 20px;
  font-family: Ubuntu;
  background-color: hsl(213, 96%, 18%);
  color: white;
  cursor: pointer;
}

.confirm:hover {
  background-color:hsl(243, 100%, 62%)
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .app {
    box-shadow: none;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
    width: 100%;
    background-color: hsl(217, 100%, 97%);
    height: 100vh;
  }

  .navigation {
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    padding: 30px;
    width: auto;
  }

  .pagination {
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    height: 172px; /* fixed height */
  }

  .page-text {
    display: none;
  }

  .page-control {
    justify-content: space-between;
    height: 100%;
    padding: 0;
  }

  .page-content {
    margin-bottom: 20px;
  }
}
